example/A_test.bam
example/ABC_merged.bam
example/B_test.bam
example/C_test.bam
test_ae/AAACAGGC_sorted.bam
test_ae/AAACAGGC.bam
test_ae/AAAGCGGA_sorted.bam
test_ae/AAAGCGGA.bam
test_ae/AAAGGCTG_sorted.bam
test_ae/AAAGGCTG.bam
test_ae/test_merged.bam
